.block_1{
  background-color: black;
  padding-bottom: 5%;
}
.margin_text_1{
  margin-top: 35%;
  font-size: 20px;
}
.setting_card_1{
 width: 25rem;
}
.setting_card_2{
  width: 25rem;
  margin-top: 15%;
}
.text_block_1{
  padding: 30px;
  
}
.text_block_2{
  padding: 30px;
  margin-top: 5%;
}
.block_2{
  background-color: aqua;
}
.setting_card_3{
  width: 25rem;
  margin-top: 7%;
}
.setting_card_4{
  width: 20rem;
  margin-top: 10%;
  margin-left: 7%;
}
.setting_card_5{
  width: 15rem;
  margin-left: 25%;
}
.text_block_1_1{
  margin-top: 25%;
}
.text_block_2_2{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
}
.container_card_2{
   border-left: 6px solid black;
}
.container_card_1{
   border-right: 6px solid aqua;
}
.block_3{
  background-color: black;
  padding-bottom: 7%;
}
.setting_card_6{
  width: 5rem;
  border-color: black;
}
.setting_card_7{
  width: 3rem;
  border-color: black;
}
.setting_card_8{
  width: 3rem;
  border-color: black;
}

.block_1_3{
  margin-top: 30%;
}
